.venv-uqxai/
.vscode/
__pycache__/

results/
tables/
experiments_images/data/
experiments_images/models/
experiments_images/results/
data/cache/
models/cache/

.jpg
.png
.csv
.pkl
.tex
.txt
.pt

.DS_store
